

main{
    height: auto;
    background-color: rgb(143, 147, 150);
}


.container{
    width: 90%;
    max-width: 1300px;
}

.box{
    background-color: rgb(97, 95, 93);
    padding: 5px 10px;
    border: 1px solid white;
}